/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

body{
    background-color:#d0f099;
    
}

 #tau{
    position: absolute;
    bottom: 150px;
    right:400px;
    animation: glow-letter 1s infinite alternate;   
}
   
#tau:hover{
    animation: shaking .7s infinite;
    cursor: pointer;   
}
  
#virgo{
    position: absolute;
    top: 150px;
    left:450px;
    animation: glow-letter 1s infinite alternate;   
}
   
#virgo:hover{
    cursor: pointer;
    animation: shaking .7s infinite;
}    

#aries{
    position: absolute;
    bottom: 150px;
    left: 400px;
    animation: glow-letter 1s infinite alternate;
    font-size: 80px;
}

#aries:hover{
    animation: shaking .7s infinite;
    cursor: pointer;
}

#sag{
    position: absolute;
    bottom: 450px;
    left: 100px;
    animation: glow-letter 1s infinite alternate;
    font-size: 80px;
}

#sag:hover{
    animation: shaking .7s infinite;
    cursor: pointer;
}
#gemini{
    position: absolute;
    bottom: 450px;
    left: 800px;
    animation: glow-letter 1s infinite alternate;
    font-size: 80px;
}

#gemini:hover{
    animation: shaking .7s infinite;
    cursor: pointer;
}
#cancer{
    position: absolute;
    top: 150px;
    right: 800px;
    animation: glow-letter 1s infinite alternate;
    font-size: 80px;
}

#cancer:hover{
    animation: shaking .7s infinite;
    cursor: pointer;
}
#pisces{
    position: absolute;
    bottom: 150px;
    right: 400px;
    animation: glow-letter 1s infinite alternate;
    font-size: 40px;
}

#pisces:hover{
    animation: shaking .7s infinite;
    cursor: pointer;
}

#libra{
    position: absolute;
    top: 150px;
    right: 400px;
    animation: glow-letter 1s infinite alternate;
    font-size: 25px;
}

#libra:hover{
    animation: shaking .7s infinite;
    cursor: pointer;
}
#leo{
    position: absolute;
    top: 450px;
    left: 400px;
    animation: glow-letter 1s infinite alternate;
    font-size: 25px;
}

#leo:hover{
    animation: shaking .7s infinite;
    cursor: pointer;
}
#scorpio{
    position: absolute;
    top: 50px;
    left: 100px;
    animation: glow-letter 1s infinite alternate;
    font-size: 80px;
}

#scorpio:hover{
    animation: shaking .7s infinite;
    cursor: pointer;
}
@keyframes glow-letter {
    from {
      text-shadow: 5px 5px 15px #2289bd;
    }
    
    to {
      text-shadow: 10px 7px 15px #69a0e3;
    }
 }
@keyframes shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(12deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-12deg); }
    100% { transform: rotate(0deg); }
}


    